.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5d6d7e30;
  border-width: 0;
  border-radius: 0.5rem;
  box-shadow: -2px 2px 5px #1b2631;
  transition: all 100ms ease-out;
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
}

.search-bar:focus,
.search-bar:hover {
  box-shadow: -3px 3px 10px #1b2631;
  padding-right: 2.25rem;
}
